@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital@1&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Karla', sans-serif; 
    max-width: 100%; 
    font-weight: 200;
    background-color: hsl(0, 100%, 98%);
    font-size: 20px; 
}
img{
    position: relative;
    width:100%;
    height: 400px;
}
span{
    font-weight: bold;
}
.header{
    height:400px;
    max-width: 100%;
}
.title h1{
    position: absolute;
    top:180px;
    left: 465px;
    padding-left: 5px;
    font-family: 'Caveat', cursive;
    letter-spacing: 3px;
    font-size: 70px;
    color: black;
}
.title h4{
    position: absolute;
    top: 270px;
    left: 585px;
    font-family: 'Amatic SC', cursive;
    letter-spacing: 3px;
    font-size: 45px;
    color: white;
}
.navbar {
    padding-left: 60px;
    display: flex;
    justify-content: left;
    border-bottom: 3px solid hsl(0, 100%, 75%);
    position: sticky;
    top: 0;
    margin-left: 0px;
    margin-right: 0px;
    background-color: hsl(0, 100%, 97%);
    z-index: 1;
    text-align: center;
}
#n1,#n2{
    border-left: 1px solid;
    padding-left: 15px;
}
#n1{
    margin-right: -23px;
}
#n2{
    margin-right: -15px;
    padding-right: 15px;
    padding-left: 20px;
    margin-left: 3px;
    border-right: 1px solid;
}
#n3{
    border-right: 1px solid;
    padding-right: 13px;
    margin-left: -13px;
}
.navbar h3{
    padding: 20px;
    display: flex;
    font-family: 'Caveat', cursive;
    font-size: 30px;
}
.navbar ul{
    padding-top: 7px;
    display: flex;
    padding-left: 420px;
}
.navbar li{
    padding: 20px;
    list-style-type: none;
    font-weight: normal;
    font-size:20px;
}
.navbar a{
    text-decoration: none;
    color: black;
}
.navbar a:link,a:visited{
    color: black;
}
.navbar a:hover,a:active{
    font-weight: 600;
}
.txt-type > .txt{
    border-right: 0.2rem solid white;
}
.content1{
    padding: 20px;
}
.content1 h2{
    text-align: center;
    border: 1px solid;
    width: max-content;
    margin-left: 580px;
    letter-spacing: 3px;
    background-color: rgba(209, 116, 110,0.5);
    border-radius: 7px;
    border-style: none;
}
#active{
    color:hsl(330, 50%, 40%);
}
.content1 h3{
    color: #3e4444;
    padding-top: 50px;
}
#Question{
    border-bottom: 1px solid hsl(0, 0%, 80%);
    width: fit-content;
    padding-bottom: 5px;
}
.content1 p{
    padding-top: 20px;
    line-height: 30px;
    margin: 0 20px;
}
.content2{
    padding: 20px;
}
.content2 h3{
    color: #3e4444;
    padding-bottom: 5px;
}
.content2 ol{
    margin-top: 25px;
    line-height: 30px;
    padding: 0 30px;
}
.content2 li{
    padding: 15px;
}
.content3 {
    border-top: 5px solid #8B008B;
    text-align: center;
    padding: 20px;
    line-height: 30px;
    background-color: #DB7093;
    color: white;
    margin: 0 15px;
    margin-bottom: 90px;
}
.content3 h4{
    padding: 20px;
}
.content3 ul{
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: justify;
    margin: 0 35px;
}
.content3 li{
    padding: 10px;
}
#ld{
    font-size: 23px;
    color: black;
}
#ld1{
    color: black;
}
#lastpara{
    color: black;
}
.content4{
    text-align: center;
    padding-top: 30px;
    background-color: white;
    font-family: 'Zilla Slab', serif;
}
.flexbox1{
    display: flex;
    flex-direction: row;
    background-color: white;
    padding: 30px;
}
.flexbox1 img{
    height: 350px;
    width: auto;
    padding: 35px;
}
.content5{
    padding: 0 45px 45px 45px;
    line-height: 40px;
    background-color: white;
}
.content6{
    padding: 0 30px 30px 30px;
    padding-left: 45px;
    background-color: white;
}
.content6 ol{
    padding: 20px;
}
.content6 li{
    padding: 15px;
}
.footer{
    margin-top: 30px;
    height: 100px;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    background: rgb(255, 132, 107);
    border-top: 2px solid rgb(255, 29, 36);
}
.footer p{
    padding-top: 20px;
    padding-right: 20px;
    font-size: 20px;
    font-weight: 10;  
}
.footer h3{
    font-family: 'Caveat', cursive;
    padding-top: 20px;
    font-size: 30px;
    padding-left: 55px;
}
.footer a{
    color:black;
    text-decoration: none;
}
.footer a:hover,a:active{
    font-weight: 600;
}